<script setup>

</script>
<template>
    <div class="container-component">
        <div class="item1">ich bin das erste Item</div>
        <div class="item2">ich bin das zweite Item</div>
    </div>
    
</template>

<style scoped>
    .container-component{
        background-color: black;
        display: flex;
        justify-content: center;
        min-width: 720px;

    }
    .item1{
        flex: 1; 
        background-color: brown;
        max-width: 100px;
        

    }
    .item2{
        flex: 2; 
        background-color: blue; 
        max-width: 100px;
    }


</style>