<script setup>
    import {computed, defineProps, ref} from 'vue'; 
    // props

    // script dropdown
    const isOpen = ref(false);
    const selected = ref(null);
    const options = ref([
        { id: 1, name: '1' },
        { id: 2, name: '2' },
        { id: 3, name: '3' },
        { id: 4, name: '4' },
        { id: 5, name: '5' },
        { id: 6, name: '6' },
        { id: 7, name: '7' },
        { id: 8, name: '8' },
        { id: 9, name: '9' },
        { id: 10, name: '10' },
        { id: 11, name: '11' },
        { id: 12, name: '12' },
        { id: 13, name: '13' },
        { id: 14, name: '14' },
        { id: 15, name: '15' },
        { id: 16, name: '16' }
    ]);

    function toggleDropdown() {
        isOpen.value = !isOpen.value;
    }

    function selectOption(option) {
        selected.value = option.name;
        isOpen.value = false;
    }

    function getData() {
        return selected.value;
    }
    
    defineExpose({
        getData
    });
    

</script>



<template>
    <div class="dropdown">
        <button @click="toggleDropdown" class="dropdown-button">
            {{ selected ? selected : 'Wähle eine Option' }}
            <span class="caret">&#9660;</span>
        </button>
        <div v-show="isOpen" class="dropdown-content">
            <div v-for="option in options" :key="option" @click="selectOption(option)" class="dropdown-option">
                {{ option.name }}
            </div>
        </div>
    </div>
</template>



<style scoped>
    .dropdown {
        position: relative; /* Stellt sicher, dass das Dropdown-Menü in Bezug auf diesen Container positioniert wird */
    }

    .dropdown-button {

        padding: 4px;
        background-color: hsl(211, 18%, 80%);
        border: 1px solid #ccc;
        border-radius: 4px;
        cursor: pointer;
        width: 100%;
        text-align: left;
        position: relative; /* Stellen Sie sicher, dass der Button positioniert ist, um 'top' für das Dropdown zu nutzen */
        z-index: 10; /* Stellen Sie sicher, dass der Button über dem Dropdown-Inhalt liegt */
    }

    .dropdown-content {
        
        position: absolute;
        background-color: white;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        width: 100%;
        z-index: 1; /* Ein niedrigerer z-index als der des Buttons */
        top: 28px; /* Positioniert das Dropdown-Menü direkt unter dem Button */
        max-height: 80px; /* Begrenzt die Höhe um nur drei Optionen anzuzeigen */
        overflow-y: auto; /* Ermöglicht vertikales Scrollen innerhalb des Dropdowns */

    }

    .dropdown-option {
        padding: 4px;
        cursor: pointer;
        transition: background-color 0.3s;
    }
    .dropdown-option:hover {
        background-color: #f1f1f1; /* Farbänderung beim Hover */
    }

    .caret {
        float: right;
    }



</style>