<script setup>
    import {ref, defineEmits } from 'vue'; 

    const emit = defineEmits(['updateDcvData']); 

    function handleFileUpload(event) {
        const file = event.target.files[0]; 
        if (file){
            parseCSV(file); 
        }
    }

    function parseCSV(file) {
        const reader = new FileReader(); 
        reader.onload = (e) => {
            const data = e.target.result;
            const rows = data.split('\n').map(row => row.split(','));
            emit('updateCsvData', rows);
        }; 
        reader.readAsText(file); 
    }
</script>

<template>
    <div>
        <h1>FileUpload</h1>

        <input type="file" @change="handleFileUpload" accept=".csv">
    </div>
</template>

<script scoped>

</script>