<script setup>
    import {RouterLink} from "vue-router"
    import {ref} from 'vue'

    const mobile = ref(false)
    const scrollPosition = null     
    const mobileNav = null
    
    
</script>
<template>

  <header :class="{ 'scrolled-nav': scrollPosition}">
    <nav>
      <!-- <div class="brandings"> -->
        <img id="NavbarLogo" src="@/assets/Logo.svg" alt="NavbarLogo" >
      
        <ul v-show="!mobile" class="navigation">
          <li><RouterLink active-class="active" :to="{name: 'home' }" class="link">Home</RouterLink></li>
          <li><RouterLink active-class="active" :to="{name: 'SDGs' }" class="link">SDGs</RouterLink></li>
          <li><RouterLink active-class="active" :to="{name: 'Company' }" class="link">Firmen</RouterLink></li>
          <li><RouterLink active-class="active" :to="{name: 'GrünesKraftwerk' }" class="link">Grünes Kraftwerk</RouterLink></li>
          <li><RouterLink active-class="active" :to="{name: 'MaterialDatenbank' }" class="link">Material Datenbank</RouterLink></li>
          <li><RouterLink active-class="active" :to="{name: '' }" class="link">Placeholder</RouterLink></li>
        </ul>
      
        <div class="login-button">
          <RouterLink active-class="active" :to="{name: 'login'}" class="link">Login</RouterLink>
        </div>
        
        <!-- gerade nicht zu sehen  -->
        
        
        <div class="icon">
          <!-- <i @click="toggleMobileNav" v-show="mobile" class="far fa-bars" :class="{'icon-active' : mobileNav }"></i> -->
          <img src="@/assets/burger-menu.svg" alt="BurgerMenu" @click="toggleMobileNav" v-show="mobile" :class="{'icon-active' : mobileNav }">
        </div>

        <transition name="mobile-nav">
          <ul v-show="mobileNav" class="dropdown-nav">
            <li><RouterLink active-class="active" :to="{name: 'home' }" class="link">Home</RouterLink></li>
            <li><RouterLink active-class="active" :to="{name: '' }" class="link">SDGs</RouterLink></li>
            <li><RouterLink active-class="active" :to="{name: '' }" class="link">Firmen</RouterLink></li>
            <li><RouterLink active-class="active" :to="{name: '' }" class="link">Grünes Kraftwerk</RouterLink></li>
            <li><RouterLink active-class="active" :to="{name: '' }" class="link">Material Datenbank</RouterLink></li>
            <li><RouterLink active-class="active" :to="{name: '' }" class="link">Placeholder</RouterLink></li>
          </ul>
        </transition>

      <!-- </div> -->
    </nav>
  </header>

    
</template>
  


  
  <style scoped>
    header{
      display: flex;
      justify-content: center;  
    }
    nav{
      display: flex; 
      align-items: center;
      justify-content: space-around;
      width: 100%; 
      background-color: #68829e80;
      height: 84px;
      margin-bottom: 80px;
    }
    
    #NavbarLogo{
    width: 100px;
    height: 50px;

    }
    .navigation{
      display: flex; 
      align-items: center;
      justify-content: space-around;
    /* need a min-width to garantie a space around the itmes*/
      min-width: 760px;
    }
    .link{
      font-family: Tahoma;
      /* font-weight: bold;  */
      color: white;
      list-style: none; 
      text-decoration: none;
      /* to delete the space on the rigth site from a list */
      padding: 0;
    }
    /* Notation bei der alle aufgezählten gemeint sind */ 
    /* Wert aus .link überschreiben */
    ul .link{
      color:black;
      
    }
    
    .login-button{
      background-color: #00123a;   
      border-radius: 4px;
      text-align: center;
      font-weight: bolder;
      height: 28px;
      width: 100px;
    }
    ul{
        display: flex;
        justify-content: flex-start;
        list-style: none; 
        margin: 0;
        
    }
  </style>
    
  
  


    