<script setup>
    import { ref,computed } from 'vue'; 
    import { reactive } from 'vue';
    import Color from 'color'; 


    import BaseButton from './BaseButton.vue';
    import SubGoal from './SubGoal.vue';

    const props = defineProps({
    sdgTarget: {
        type: Object,
        required: true,
    },
    btnClass: {
        type: String,
        default: 'btn-default'
    }
    });

    // Script Button 
    const showSubGoal = ref(false); // Reaktiver Zustand für das Ein-/Ausblenden der SubGoals 
    const toggleSubGoal = () => {
        showSubGoal.value = !showSubGoal.value; // Wechseln des Zustands beim Klicken
    };
    // SdgColor 
    const color = props.sdgTarget.sdgTypeColors[0];
    const lighterColor = Color(color).lighten(1).string();
    console.log(props.sdgTarget);
   
    
    
</script>


<template>
    
    <div class = "container">
        <!-- <p> {{ item.name }}</p> -->
        <!-- Title -->
        <div class="title-area">
            <h1> {{  sdgTarget.title  }} </h1>
            <p>Datetime</p>
        </div>
        <!-- Description -->
        <div class="description-area">
            <p> {{  sdgTarget.description  }}</p>
        </div>
        
    </div>
    <div class="teilschritt">
        <p>Teilschritte</p>
    </div>
    <div v-if="showSubGoal">
        
        <SubGoal v-for="subGoal in sdgTarget.subGoals" :key="subGoal.id" :SubGoal="subGoal" :color="lighterColor" />
    </div>

    <BaseButton class="sdgTarget-button" @click="toggleSubGoal"> 
        <slot> mehr </slot> 
    </BaseButton>
    
</template>


<style scoped>
    
    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-width: 1040px;
        min-height: 180px;
        background-color: v-bind(lighterColor);
        padding: 40px;
        box-sizing: border-box;

    }
    .title-area{
        display: flex;
        flex-direction: row; 
        justify-content: space-between;

        width: 100%;
        padding: 0 24px;
        color: white;
        background-color: v-bind(color);
    }
    .description-area{
        
        width: 100%;
    }
    
    .sdgTarget-button{
        min-width: 1040px;
        width: 100%;
        border-top: 1px solid black;
        background-color: v-bind(lighterColor);
        font-size: 1cap;
        color: black;
    }
    .teilschritt{
        background-color: v-bind(lighterColor);
        padding-left: 24px;
        font-weight: 800;
    }

</style>

