<script setup>
  import {RouterView} from "vue-router"
  import Nav from "./components/Nav.vue"
  // import Component from "./components/Component.vue"
  
</script>


<template>
  <div class="container">
    <Nav />
    <!-- <Component/>  -->
    <RouterView />
    
  </div>
</template>



<style scoped>
/* universal tag der sich auf jedes TAG bezieht */
*{
  padding: 0; 
  margin: 0; 
  box-sizing: border-box;
  font-weight: 400; 
}
/* Wurzelinstanz von vue - kein standard css tag wie '*' */
.app{
  min-height: 100vh; 
  position: relative; 
  background-color: #f1f1f1;
}

.container{
  display: flex;
  flex-direction: column;

  font-family: Tahoma;
  
}
</style>