<template>
    <div class="container-company-view">
        <h1>Company View </h1>
        <div class="company-informations">
            <div class="company-logo">

            </div>
            <div class="company-portfolio">

            </div>
            <div class="company-contact">

            </div>
        </div>
        <div class="sdgs">
            <div class="sdg-first">
                <h1>Titel</h1>
                <p>Beschreibung kann man hier eintragen und zwar ganz ganz viuel</p>
                <div class="Aktionsschritte">
                    <div class="Aktionsschritt1"></div>
                </div>
            </div>
            <div class="sdg-second"></div>
            <div class="sdg-third"></div>
        </div>


    </div>
</template>

<style scoped>
    .container-company-view{
        display: flex;
        flex-direction: column; 
        /* justify-content: center; */
        align-items: center;
    }
    .company-informations{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 10px; 

        width: 1000px; 
        height: 800px;;
    }
    .company-logo{
        background-color: grey;

        grid-column: 1 / 2; /* Erste Spalte */
        grid-row: 1 / span 2; /* Über beide Zeilen */
    }
    .company-portfolio{
        background-color: grey;

        grid-column: 2 / 3; /* Zweite Spalte */
        grid-row: 1 / 2; /* Erste Zeile */
    }
    .company-contact{
        background-color: grey;

        grid-column: 2 / 3; /* Zweite Spalte */
        grid-row: 2 / 3; /* Zweite Zeile */
    }

    /* css für die SDG Teile */
    .sdg-first{

    }
    .sdg-second{

    }
    .sdg-third{

    }

</style>