<script setup>
  import { ref, onMounted } from 'vue';
  import axios from 'axios';
  import DropDown from '../components/DropDown.vue'
  import AddSubGoal from '../components/AddSubGoal.vue'

  const description = ref('');
  const title = ref('');

  const isChecked = ref(false); 

  const dropDownRef = ref(null);
  const addSubGoalRef = ref(null); 

  let dropDownData = [];
  
  async function create() {
    const dropDownValue = dropDownRef.value.getData();
    let subGoalData = addSubGoalRef.value.getData();
    
    dropDownData = Array.isArray(dropDownValue) ? dropDownValue : [dropDownValue];
    subGoalData = subGoalData.map(subGoal => ({
      title: subGoal.title || "Standardtitel",
      description: subGoal.description || "Standardbeschreibung"
    }));
    try {
      const response = await axios.post('http://localhost:5266/api/sdg/', {
        // übermitteltes json file 
        title: title.value,
        description: description.value,
        isDone: isChecked.value,
        sdgTypeIds: dropDownData,
        subGoals: subGoalData
      });
      console.log('Daten erfolgreich gesendet:', response.data);
    } catch (error) {
      console.error('Fehler beim Senden der Daten:', error);
    }
  };
</script>

<template>
    <div class="container-createSdg-view">
      
      <div class="paige-title">
        <h1>Maßnahme erstellen</h1>
      </div>
      
      <form @submit="create">
        <div class="title">
          <label for="title">Titel</label>
          <input type="text" id="title" v-model="title" required>
        </div>
        
        <DropDown ref="dropDownRef" />

        <div class="description">
          <label for="description">Beschreibung</label>
          <textarea type="text" id="description" v-model="description" required></textarea>
        </div>
        <div class="container-addsubgoal">
          <AddSubGoal ref="addSubGoalRef" />
        </div>
        
        <div>
          <label>
            <input type="checkbox" v-model="isChecked">
            Maßnahme umgesetzt
          </label>
        </div>

        <button type="submit">Erstellen</button>

      </form>

    </div>
</template>

<style scoped>
    .container-createSdg-view{
      display: flex;
      flex-direction: column;
      align-items: center;  
      
      margin-top: 28px;
      min-height: 800px;
    }
    
    form{
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      gap: 20px; 
      padding: 20px; 
      /* background-color: lightgrey; */
      max-width: 800px;
      width: 100vw;

      height: auto; /* Änderung zu auto */
      min-height: 600px; /* Setzen einer minimalen Höhe */
      overflow: hidden; /* Verhindern von unerwünschtem Überlauf */
    }
    
    
    .container-createSdg-view{
      display: flex;
      flex-direction: column;
      /* font-size: 32px; */
    }
    
    .title {
      display: flex;
      flex-direction: column;
      gap: 20px;

    }
    .title input{
      height: 32px; 

      border-style: solid;
      border-color: black;
      border-width: 1px;
      border-radius: 6px;

    }
    .dropdown{
      display: flex;
      flex-direction: column;
    }
    .description{
      display: flex;
      flex-direction: column;
    }
    .description textarea{
      height: 164px; 
      border-style: solid;
      border-color: black;
      border-width: 1px;
      border-radius: 6px;

    }
    button{
      height: 32px;
      background-color: hsl(211, 18%, 80%);
      border-radius: 4px;
    }

    .container-addsubgoal{
      padding: 10px;
    }


  /********* Transition *********/


  /* Übergangsstil für das Ein- und Ausblenden */
  .fade-enter-active, .fade-leave-active {
    transition: opacity 0.5s ease, max-height 0.5s ease;
    overflow: hidden;
  }
  .fade-enter, .fade-leave-to /* Starting and ending state for fade */ {
    opacity: 0;
    max-height: 0;
  }
  .fade-enter-to, .fade-leave /* Active states */ {
    opacity: 1;
    max-height: 100px; /* Stellen Sie sicher, dass dieser Wert ausreichend groß ist, um Ihre Inhalte zu umfassen */
  }
</style>