
<script setup>
    import { ref, onMounted } from 'vue';
    import L from 'leaflet';
    import 'leaflet/dist/leaflet.css';

    // Definiere die Grenzen für Berlin (Südwest- und Nordost-Ecke)
    const southWest = L.latLng(52.3, 13.0);
    const northEast = L.latLng(52.7, 13.7);
    const bounds = L.latLngBounds(southWest, northEast);

    const mapElement = ref(null);

    onMounted(() => {
    // Initialisiere die Leaflet-Karte mit Fokus auf Berlin
    const map = L.map(mapElement.value, {
        center: [52.5200, 13.4050],
        zoom: 13,
        maxBounds: bounds, // Begrenze den Kartenausschnitt
        maxZoom: 16, // Maximal erlaubte Zoomstufe
        minZoom: 10  // Minimal erlaubte Zoomstufe
    });

    // Füge die OpenStreetMap-Kachel hinzu
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);

    // Funktion zum Hinzufügen von Markern
    function addMarker(lat, lon, popupText) {
        const marker = L.marker([lat, lon]).addTo(map);
        marker.bindPopup(popupText);
    }

    // erstellen der Punkt informationen 
    const popupContent = `
        <div>
        <h3>Ein Beispielpunkt in Berlin</h3>
        <p>Hier ist ein <a href="https://www.example.com" target="_blank">Link zu einer Webseite</a>.</p>
        </div>
    `;
    // Beispielpunkt hinzufügen
    addMarker(52.4022, 13.3790, popupContent);
        // Event-Listener für Klicks auf die Karte, um Punkte hinzuzufügen
        // map.on('click', function(e) {
        //     const lat = e.latlng.lat;
        //     const lon = e.latlng.lng;
        //     addMarker(lat, lon, "Neuer Punkt bei " + lat + ", " + lon);
        // });
    });
</script>

<template>
    <div class="container">
        <div id="map" ref="mapElement" style="width: 100%; height: 1000px;"></div>
    </div>
</template>

  
<style scoped>
    
</style>