<script setup>
    import { ref } from 'vue';
    import { useRouter } from 'vue-router';
    import { useStore } from 'vuex';
    import axios from 'axios';

    const username = ref('');
    const password = ref(''); 
    const errorMessage =  ref('');

    const store = useStore(); 
    const router = useRouter(); 
    
    async function login() {
          try {
            // axios stellt die Verbindung zum Backend her 
            // post beinhaltet den body der an das backend geschickt wird 
            const response = await axios.post('http://localhost:5266/api/account/login', {
              username: username.value,
              password: password.value
      
            });
            console.log(response); 
            // Die Antwort des Servers wird hier verarbeitet
            // Beispiel: Überprüfen, ob die Anmeldung erfolgreich war
            if (response.status === 200) {
              // Navigation to another route on successful login
              // router.push('/account');
              // calls the authenticate function in store/index.js
              store.dispatch('authenticate', true);
              router.push( '/admindashboard' );
        
              // mit value: router.push({ path: '/deine-zielroute', query: { key: 'value' } });
              console.log('Login successful');
            } else {
              errorMessage.value =  ' im try Fehler beim Einloggen. Bitte überprüfen Sie Ihre Anmeldeinformationen.';
            }
          } catch (error) {
            // Fehlerbehandlung, z.B. Anzeigen einer Fehlermeldung
            errorMessage.value = 'Fehler beim Einloggen. Bitte überprüfen Sie Ihre Anmeldeinformationen.';
            console.error('Login error:', error);
          }
    }
  </script>

<template>
    <div class = "login-form-container">
      <h2>Login</h2>
      <form @submit.prevent="login">
        <div>
          <label for="username">Benutzername:</label>
          <input type="text" id="username" v-model="username" required>
        </div>
        <div>
          <label for="password">Passwort:</label>
          <input type="password" id="password" v-model="password" required>
        </div>
        <button type="submit">Einloggen</button>
      </form>
      <p v-if="errorMessage" style="color: red;">{{ errorMessage }}</p>
    </div>
  </template>

  <style scoped>
  /* Stil für die Login-Seite */
  /* Sie können diesen Stil nach Ihren Wünschen anpassen */
  
  .login-form-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    /* meassurements */
    background-color:beige; 
    max-width: 420px;
    max-height: 620px;
    border-style: dashed;
    border-color: black;
  }
  form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 300px;
  }
  
  label {
    margin-bottom: 5px;
  }
  
  input {
    padding: 8px;
    margin-bottom: 10px;

  }
  
  button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  p {
    margin-top: 10px;
  }
  </style>
  