<script setup>
    // axios für die Verbindung zu backend
    import axios from 'axios'; 
    import { ref, reactive, onMounted, computed } from "vue"; 
    import SdgItem from '../components/SdgItem.vue'; 

    const sdgs = reactive({ items: [] });
    const filterValue = ref('all');

    onMounted(() => {
      axios.get('http://localhost:5266/api/sdg')
        .then(response => {
            sdgs.items = response.data;
            console.log(response.data)
        })
        .catch(error => {
          console.error('Error fetching SDGs:', error);
        });
    });
    const filteredSdgItems = computed(() => {
      if (filterValue.value === 'done') {
        return sdgs.items.filter(item => item.isDone);
      } else if (filterValue.value === 'not_done') {
        return sdgs.items.filter(item => !item.isDone);
      } else {
        return sdgs.items;
      }
    });
</script>

<template>
  <div class="dropdown">
    <select v-model="filterValue">
        <option value="all">Alle</option>
        <option value="done">Erledigt</option>
        <option value="not_done">Nicht erledigt</option>
      </select>
  </div>
    <Suspense>
      <template #default>
        

        <div class="container">
          <div class="sdg-targets-container" v-for="item in filteredSdgItems" :key="item.id">
            <SdgItem :sdgTarget="item" />
          </div>
        </div>
      </template>
      <template #fallback>
        <div>Loading...</div>
      </template>
    </Suspense>
  
</template>

<style scoped>
  .dropdown{
    width: 220px;
    padding-left: 420px;
    padding-bottom: 40px;
  }
  .container{
   display: flex; 
   flex-direction: column;
   gap: 40px;
   align-content: space-around;
  }
  .sdg-targets-container{
    display: flex; 
    flex-direction: column;
    padding: 0 420px; 
    justify-content: space-around;
    /* background-color: black; */
  }
  
</style>